<!doctype html>
<html>
<head>
<title>Drug Adverse Event browser - Not installed</title>
</head>
<body>
<h1>Not Installed</h1>
<p>
The <strong>Drug Adverse Event Browser</strong> application has not yet been installed.
</p>
</body>
</html>